<!DOCTYPE html>
<html>
  <head>
    <title>MyLibrary</title>
    <%= csrf_meta_tags %>


 </head>

  <body>
    <div>Navigation controller</div>
    <%= yield %>
    <div>fotter</div>
  </body>
</html>
